*{
    margin: 90px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(69, 69, 131);
background: linear-gradient(45deg,#0a010e,#5036a5);
text-align: right;
}


  h1{
    
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-style: italic;
    text-align: right;
  }

  p{
      font-size: 16px;
      color: white;
      font-size: 25px ;  
      
    }

  h2{
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    font-style: italic;
    text-align: right;
  }
  